/* Primary Colors */
$Dark-Blue-email-background: hsl(217, 28%, 15%);
$Dark-Blue-main-background: hsl(218, 28%, 13%);
$Dark-Blue-footer-background: hsl(216, 53%, 9%);
$Dark-Blue-testimonials-background: hsl(219, 30%, 18%);

/* Accent */
$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);
$Light-Red: hsl(0, 100%, 63%);

/* Neutral */
$White: hsl(0, 0%, 100%);

.body{
  margin: 0px;
  padding: 0px;
}

.navbar{
  display: flex;
  justify-content: space-around;
  color: $White;
  padding-bottom: 32px;
}

.background-color-header{
  background-color: $Dark-Blue-main-background;
}

.text-decoration{
  text-decoration:none;
  color: #BCC3CA;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin-right: 52px;
}

.margin-right{
  margin-right: 64px;
}

.logo{
  width: 150px;
  height: 51px;
  padding-left: 60px;
  padding-top: 33px;
}

.margin-top{
  margin-left: auto;
  padding-top: 50px;
}

.images-ilustration{
  display:block;
  margin:auto;
  padding-top: 45px;
  width: 716px;
  height: 395px;
}

.text{
  text-align: center;
  color: $White;
  font-family: 'Poppins', sans-serif;
  font-size: 37px;
  line-height: 56px;
  font-weight: 400;
}

.filo-stores{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #BEC5CF;
  font-size: 17px;
  line-height: 28px;
  font-weight: 200;
}